streamlit
spacy
sentence-transformers
PyMuPDF
rapidfuzz
fpdf
python-dateutil
pandas
spacy

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz

# python -m spacy download en_core_web_sm
# # # # import nltk
# # # # nltk.download('punkt')
# # # # nltk.download('stopwords')